.tech_code_header{
    height:80px;
    width: 100%;
    color: white;
    line-height: 60px;
    position: sticky;
}
.tech_code_title{
    font-size: x-large;
    font-family:cursive;
    float:  left;
}